@{
	ViewData["Title"] = "About Us";
}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-color-2 fw-bold">About Us</h1>
			<p class="text-color-0">
				Welcome to Sam's Warehouse Shopping Cart, your new favourite way to shop online! We are a dedicated online e-commerce platform, bringing the freshes, 
				highest-quality grade groceries right from our digital shelves to your kitchen. We understand that life moves fast, and spending valuable 
				time navigating crowded aisles or waiting in checkout lines shouldn't be a daiy chore. That's why we created Shopping Cart App: to offer 
				a seamless, streefree shopping experience that puts you in control. We want to provide you with the best online shopping experience. Our 
				mission is to offer a wide range of products at competitive prices, along with exceptional customer service.
			</p>
			<p class="text-color-0">
				Founded in 2025, Sam's Warehouse Shopping Cart has quickly become a trusted name in the e-commerce industry. We believe in quality, affordability,
				and convenience, making it easy for you to find what you need from the comfort of your home. Our carefully curated selection ranges from 
				everyday staples like milk, eggs and pantry items to specialty goods, all sourced from trusted local and national suppliers. We are committed 
				to freshness, reliability, and making healthy eating as convenient as a few clicks.
			</p>
			<p class="text-color-0">
				Thank you for choosing Sam's Warehouse Shopping Cart. We look forward to serving you!
			</p>
		</div>
	</div>

	<!--Youtube Video-->
	<div class="row align-items-center mb-3">
		<div class="col-md-8">
			<div class="border border-color-4 background-color-1 rounded p-4 mb-4">
				<h2 class="text-color-2 fw-bold text-center">Our Mission</h2>
				<p class="text-color-0">
					We at Sam's Warehouse Shopping Cart is simple: to simplify daily life by delivering quality, convenience, and freshness to every door. We strive to be more
					than just a transaction; we want to be an essential, trusted part of your household. We are committed to using technology to make grocery shopping
					effortless, ensuring you always have acces to the ingredients you need when you need them.
				</p>
				<div class="background-color-0 rounded p-1">
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/iUtnZpzkbG8?si=WRZd8hfKNh6hEtf6"
								title="Our Mission"
								frameborder="0"
								allowfullscreen
								class="rounded border-color-3">
						</iframe>

					</div>
				</div>
			</div>
		</div>
		<!--Logo-->
		<div class="col-md-4">
			<div class="text-center">
				<img src="/images/logo.svg"
					 style="max-height: 600px;" />

					 <p class="text-color-2 fs-3 fw-bold mt-5">Quality Shopping Experience Since 2025</p>
			</div>
		</div>
	</div>
</div>
