@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url(/images/grocery.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            min-height:80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;">
    <div style="position: relative;
                background: rgba(116, 139, 189, 0.3);
                border-radius: 10px;
                padding: 3rem;
                backdrop-filter: blur(5px);
                border: 1px solid rgba(255,255,255,0.1);
                max-width: 600px;">
		<div class="text-center">
			<h1 class="text-color-2 fw-bold">Welcome To Sam's Warehouse</h1>
			<p class="text-color-2 fs-4">Making your shopping experience easy!</p>
			<a asp-controller="Products" asp-action="Index" class="btn background-color-2 text-color-2 fw-bold mt-auto">SHOP NOW</a>
		</div>
    </div>
</div>
